

<div class="a">
 
    <div class="left">
        <h1 routerLink="vehicles">Vehicles</h1>
        <h1 routerLink="bankaccounts">Bank Account</h1>
        <h1 routerLink="products">Flipkart</h1>
        <h1 routerLink="mails">Mails</h1>
        <h1 routerLink="create-vehicle">Create-vehicle</h1>
        <h1 routerLink="student-card">Student-card</h1>
        <h1 routerLink="create-student-card">Create Student Card</h1>
        <h1 routerLink="memes">Memes</h1>
        <h1 routerLink="login">Login</h1>
        <h1 routerLink="view-vehicle">View-Vehicle</h1>

        <button (click)="logout()">Logout</button>




    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>